
node_modules
/.pnp
.pnp.js
# testing
coverage

.vscode

tmp/*

# Vai forçar a subida da pasta tmp para o github, porém sem o conteudo
!tmp/.gitkeep

ormconfig.json
dist
build
npm-debug.log
.env
.DS_Store